.game_page{
    font-size: 2.2rem;
    font-weight: bold;
    padding-left: 2%;
}

.navbar_link{
    color: var(--white-500);
   font-size: 2.2rem;
   transition: 0.2s ease;
   text-decoration: none;

}

.navbar_link:hover{
color: var(--yellow-500);
transform: scale(1.1);
}

